body{
    background-color: grey;
}

.complete{
    font-style: italic;
    text-decoration: line-through;
}

.level3 {
    font-weight: bold;
}

.level2{
    font-weight: bold;
}

.level1{
    color: blue;
}

