body {
  background-color: #fcfff7;
  text-align: center;
  margin: 0;
}
.page-header{
  background-color: rgba(211, 211, 211, 0.558);
}
@font-face {
  font-family: "bright";
  src: url(Bright.otf) format("opentype");
}

.display-1 {
  font-family: "bright";
  color: #023047;
}

.display-4 {
  color: #046865;
}

.complete {
  text-decoration: line-through;
}

.level3 {
  font-weight: bold;
}

.level2 {
  font-style: italic;
}

footer {
  font-size: 8px;
  padding-top: 300px;
}

.btn-danger {
  background-color: #e53d00;
}

.btn-warning {
  background-color: #ffe900;
  border-color: #d4c201;
}

.btn-success {
  background-color: #21a078;
}
