body{
    background-color: grey;
    text-align: center;
}

.complete{
    font-style: italic;
    text-decoration: line-through;
}

.level3 {
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #842029;
  background-color: #f8d7da;
}

.level2{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #664d03;
  background-color: #fff3cd;
}

.level1{
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    color: #055160;
  background-color: #cff4fc
}

table{
    margin-left: auto;
    margin-right: auto;
}

footer{
    font-size: 8px;
    padding-top: 200px;
}